@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$theme-colors: (
  "primary": #FFE81F,
  "secondary": #8E92BC,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #FFE81F,
  "danger": #dc3545,
  "light": #F5F5F7,
  "dark": #000,
);
$body-bg: #FAFAFA;
$font-family-base: 'Poppins', sans-serif;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// custom styles

body {
  width: 100%;
  min-height: 100%;
  // background: #000;
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
  color: #FFE81F;
}
.starship-container {
  border: 2px solid #FFE81F; 
  padding: 10px;
}
